<% unless comment.archived? %>
  <div class="card border-secondary w-75">
    <div class="card-body">
      <h5 class="card-title"><%= comment.commenter %>
        <span style="float:right;"></button><button class="btn-close btn-dark btn-sm" type="button"><span style=opacity:0><%= link_to "RAH", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></span></button></span>
      </h5>
      <p class="card-text"><%= comment.body %></p>
    </div>
  </div>
<% end %>
