<nav class="navbar navbar-dark bg-dark">
  <%= link_to "New Article", new_article_path, class: "nav-link active" %>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
    <button type="button" class="btn btn-secondary">
       <span class="badge bg-secondary"><%= Article.public_count %></span>
    </button>
      <br>
      <h2>Articles</h2>
      <ul>
        
        <li></li>
      </ul>
    </div>
  </div>
</div>
